<!DOCTYPE html>
<html>
    <head> 
        <style>
            head {text-align: center;}
            body {text-align: center;}

        </style>
        <div id = "theHeader">
            <font size = "85" id = "headerText"> My peeps</font>
        </div>
    </head>
    <br>
    <br>
    <body>
        <div id = "container">
            <form action = "/" method = "POST">
                <input type = "text" name = "username" placeholder="Username">
                <br>
                <br>
                <input type = "text" name = "password" placeholder="Password">
                <br>
                <br>
                <input type = "submit" value = "Submit"/>
            </form>
            <br>
            <br>
        </div>
    </body>
</html>